* {
  font-family: sans-serif;
}

body {
  background-size: cover;
}

h2 {
  text-align: center;
}

.loader {
  border: 6px solid gray;
  border-top: 6px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  position: absolute;
  top:40%;
  left:50%;
  z-index: 2;
  visibility: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 10px;
}

/* Control the left side */
.left {
  left: 0;
  height: 100%;
  width: 40%;
  background-color: #cce6ff;
  color: black;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inputs {
  margin: 10px;
  padding: 5px;
}

#textbox {
  resize: vertical;
  display: block;
  width: 100%;
  max-height: 40vh;
  padding: 6px;
  box-sizing: border-box;
  text-align: justify;
  white-space: normal;
}

#error {
  color: red;
  display: none; 
}

button {
  font-size: 110%;
  background-color: white;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 6px #8c8c8c;
}

button:hover {background-color: #cccccc}

button:active {
  background-color: #cccccc;
  box-shadow: 0 3px #4d4d4d;
  transform: translateY(3px);
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box
}

/* Control the right side */
.right {
  right: 0;
  height: 100%;
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.results {
  border-radius: 1px;
  border-style: ridge;
  text-align: justify;
  line-height: 125%;
  padding: 2px 8px;
  height: 45vh;
  overflow: scroll;
}

.olid {
  margin: 10px 0px 0px;
  padding: 1px 15px;
  border-radius: 1px;
  border-style: ridge;
}
