* {
  font-family: sans-serif;
}

body {
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 200%;
}

button {
  font-size: 110%;
  background-color: #d1d1d1;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 10px;
  border-color: black;
  border-style: ridge;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box
}

input[type=checkbox] {
  transform: scale(1.2);
  vertical-align: 1px;
}

input[type=file] {
  transform: scale(1.2);
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 10px;
}

/* Control the left side */
.left {
  left: 0;
  width: 40%;
  background-color: #f0f2f6;
  color: black;
}

/* Control the right side */
.right {
  right: 0;
  width: 60%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  font-size: large;
}

.flex_container {
  display: flex;
  flex-direction: column;
}

.result {
  background-color: #e6e6e6;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  border-radius:1px;
  color: black;
  border-color: black;
  font-family: Arial;
  border-style: solid;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inputs {
  margin: 10px;
  padding: 5px;
}

.olid {
  background-color: #e3e3e8;
}

#textbox {
  resize: vertical;
  display: block;
  width: 100%;
  max-height: 300px;
}


