<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weak Supervision NER & OLID Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='/style.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class="split left">
      <div class="title">
        <h1>Weak Supervision NER & OLID Demo</h1>
      </div>

      <div class="controls">
        <form action="{{url_for('predict')}}" method="post" class="info">
          <label for="models">Select model:</label>
          <select id="models" name="models">
            <option value="olid">Trained on OLID</option>
            <option value="reddit">Trained on r/Singapore</option>
            <option value="hwz">Trained on HWZ EDMW</option>
          </select> 

          <p class="options"><label for="sentence">Input sentence:</label></p>
          <textarea id="sentence" name="sentence" rows="4" placeholder="Your text here..."></textarea>
          <br>
          <button type="submit" class="button">Predict</button>
        </form>

        <p class="options">Upload JSON/CSV file:</p>
        <input type="file" name="uploaded_file" accept=".json, .csv">
      </div>
    </div>

    <div class="split right">
      <div class="centered">
        <div class="container">
          <!-- <div class="intro">
            <p class="note"><b></b></p>
          </div> -->
          <br>

          <div class="pred">
            <p class="result"><b>{{prediction_text}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>