<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weak Supervision NER & OLID Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{url_for('static', filename='/style.css')}}" rel="stylesheet">
</head>

<body>
  <div class="split left">
    <div class="title">
      <h2>Weak Supervision NER & OLID Demo</h2>
    </div>

    <div class="inputs">
    {% block content %}
      <form method="POST" action="{{url_for('predict')}}">
          {{ form.csrf_token }}

          <p>
            {{ form.model.label }}
            {{ form.model(style="list-style:none;padding:0px") }}
          </p>
          {% if form.model.errors %}
            <ul class="errors">
              {% for error in form.model.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          <br>

          <p>
            {{ form.user_input.label }}
          </p>
          <div>
            {{ form.user_input(id="textbox", rows="8") }}
          </div>
          {% if form.user_input.errors %}
            <div class="errors">
              {% for error in form.user_input.errors %}
                <p style="color:red">{{ error.replace('.', '') }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <p>
            <input type="submit" value="Predict" id="submit">
          </p>
      </form>
    {% endblock %}
    </div>
  </div>

  <div class="split right">
    {% if display_right %}
      <div class="wrapper">
        <h3>Result</h3>

        <div class="result">
          <p class="echo">{{input|markdown}}</p>
        </div>

        <div>
          <div class="olid">
            <p class="question">Is the sentence offensive?</p>
            {% if result_array[0] %}
              <p><b>Yes</b></p>
            {% else %}
              <p><b>No</b></p>
            {% endif %}
          </div>

          <div class="olid">
            <p class="question">Is the sentence targeted?</p>
            {% if result_array[0] and result_array[1] %}
              <p><b>Yes</b></p>
            {% elif result_array[0] %}
              <p><b>No</b></p>
            {% else %}
              <p><b>Not Applicable</b></p>
            {% endif %}
          </div>

          <div class="olid">
            <p class="question">Target of sentence:</p>
            {% if result_array[2] == 'IND' %}
              <p><b>Individual</b></p>
            {% elif result_array[2] == 'GRP' %}
              <p><b>Group</b></p>
            {% elif result_array[2] == 'OTH' %}
              <p><b>Others</b></p>
            {% else %}
              <p><b>Not Applicable</b></p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</body>
</html>